body, h1, section, article, p, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
}

body {
  background: lightblue;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 1px;
}
article {
  position: absolute;
}
.overlay {
  background: #79f;
  opacity: 0.75;
}
#intro-screen {
  display: none;
  position: fixed;
  left: 450px;
  top: 150px;
  background:rgba(100,100,255,0.3);
  padding: 75px;
  z-index: 1;
}
#intro-screen h1 {
  font-size: 72px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
#intro-screen p {
  text-align: center;
  color: #fff;
}
#intro-screen button {
  margin: 20px 150px;
  background: #449;
  letter-spacing: 3px;
  font-size: 26px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
}